body {
  font-family: 'Helvetica', sans-serif;
  background-color: black;
  width: 50%;
  padding-left: 25%;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 1.75em;
  color: white;
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  letter-spacing: 3px;
  color: white;
  text-align: center;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

textarea#message {
  transform: translate(220px, 20px);
  /*padding: 60px;*/
  width: 230px;
  height: 100px;
  border-radius: 5px;
  vertical-align: text-top;
  font-size: 1.25em;
}

div#charactersLeft {
  margin-top: 40px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

div#lastkey {
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}
